<html>
  <head>
	<style>
		.grid-container {
		  	display: grid;
		 	grid-template-rows: 40px 5px;
			grid-template-columns: 1fr 1fr;
  			grid-gap: 5px;
		}
	</style>
    <meta charset="utf-8">
	<title>Get Coverage</title>
	<h1>Get Coverage</h1>
  </head>
  <body>
	<div class="grid-container">
		<div class="grid-item1">
			<label for="name">Class Name</label>
		</div>

		<div class="grid-item1">
			<input type="text" id="className" name="className" requiredminlength="4" maxlength="50" size="50">
		</div>

		<div class="grid-item2">
			<label for="name">Coverage</label>
		</div>

		<div class="grid-item2">		<label for="name">80%</label>
		</div>
	</div>
</body>
</html>

<script>

</script>